<div class="price text-right" id="product-price-div">
    <h3 id="no-price">
        <small>{% trans %}Total{% endtrans %}</small>
        <span id="product-price"><strong>--</strong></span>
    </h3>
    <small>{% trans %}Combination not available{% endtrans %}</small>
</div>
